<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: blanchedalmond;">
    <!-- this is template  / markers -->
    <!-- for below flow control we use scriplet and it is for non html code and on line by line basis we put symbol -->
    <!-- <try to write logic in ur server n also when modifying content using varibales -->
        <% if(kindOfDay==="Sunday" || kindOfDay==="Saturday" || kindOfDay==="Monday" ){  %>
        <h1 style="background-color:blueviolet">Day:<%= kindOfDay %> Todo list</h1>
    <% } else { %>
        <h1 style="background-color:royalblue">Day:<%= kindOfDay %> Todo list</h1>
    <% } %> 

    <!-- <h1><%= kindOfDay %> </h1> -->

    <ul>
        <% for(let i=0;i<newListItems.length;i++){%>
            <li><%= newListItems[i] %></li>
        <%}%>
    </ul>
   
    <form class="" action="/" method="post">

        <input type="text" name="newItem">
        <button type="submit" name="button" >Add</button>
        
    </form>
</body>
</html>